<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

<nav class="navbar navbar-light bg-light justify-content-center">
   <a class="navbar-brand" href="#">Exemplos Maior subsequência crescente & Weighted Interval Scheduling
   </a>
</nav>

<div class="container px-4 mt-4">
   <div class="row gx-5">
      <div class="col">
         <div class="p-3 border bg-light">
            <form method="POST" action="{% url 'lis_view' %}" class="card">
               {% csrf_token %}
               <h5 class="card-title text-center">Maior Subsequência Crescente</h5>
               <div class="form-group mt-4">
                  <label for="exampleInputEmail1">Digite uma sequência de números qualquer separadas por
                     vírgula:</label>
                  <input name="lis" class="mt-4 pt-2 form-control form-control-sm"
                     placeholder="Enter sua sequência 1,2,3,4,5,6,7" />
               </div>
               <button type="submit" class="mt-4 btn btn-dark btn-block">
                  Ver maior subsequência crescente
               </button>
            </form>
         </div>
      </div>
   </div>
   <div class="row gx-5">
      <div class="col mt-4">
         <div class="p-3 border bg-light">
               <form class="card application" method="POST" action="{% url 'wis_view' %}">
                  <h5 class="card-title text-center mb-3">Melhores Aplicações</h5>
                  {% csrf_token %}
                  <div id="formInsert">
                     <div id="formulario" class="dataForm d-flex flex align-items-center justify-content-center mt-2">
                        <label for="inputTarefa">LCI/LCA: </label>
                        <input type="text" class="form-control me-1 w-25 col-auto" name="nome0" id="inputTarefa"
                           placeholder="LCI DI 1080" required />
                        <label for="appt" class="text-nowrap bd-highlight">Data Inicial:</label>
                        <input class="me-1 p-2 col-auto" type="date" id="appt" name="f_horario0" required />
                        <label for="appt" class="text-nowrap bd-highlight">Data Final:</label>
                        <input class="me-1 p-2 col-auto" type="date" id="appt" name="s_horario0" required />
                        <label for="appt">Rendimento:</label>
                        <div class="input-group d-flex flex align-items-center" style="width: 150px">
                           <input type="number" step="any" name="prioridade" class="form-control" id="prioridade"
                              aria-label="prioridade" />
                           <span class="input-group-text" id="basic-addon0">% a.a</span>
                        </div>
                        <button type="button" onclick="removerCampo(0)" class="ms-1 btn btn-secondary btn-block">
                           -
                        </button>
                     </div>
                  </div>
                  <button type="button" onclick="adicionarCampo()" class="mt-4 btn btn-secondary btn-block">
                     Nova tarefa+
                  </button>
                  <button type="submit" class="mt-4 btn btn-dark btn-block">
                     Submeter tarefas
                  </button>
               </form>
         </div>
      </div>
   </div>
</div>

<script>

var controleCampo = 1;
function adicionarCampo() {
        controleCampo++;
        document
            .getElementById("formInsert")
            .insertAdjacentHTML(
                "beforeend", `
                        <div id="formulario${controleCampo}" class="dataForm d-flex flex align-items-center justify-content-center mt-2">
                        <label for="inputTarefa">LCI/LCA: </label>
                        <input type="text" class="form-control me-1 w-25 col-auto" name="nome${controleCampo}" id="inputTarefa"
                           placeholder="LCI DI 1080" required />
                        <label for="appt" class="text-nowrap bd-highlight">Data Inicial:</label>
                        <input class="me-1 p-2 col-auto" type="date" id="appt" name="f_horario${controleCampo}" required />
                        <label for="appt" class="text-nowrap bd-highlight">Data Final:</label>
                        <input class="me-1 p-2 col-auto" type="date" id="appt" name="s_horario${controleCampo}" required />
                        <label for="appt">Rendimento:</label>
                        <div class="input-group d-flex flex align-items-center" style="width: 150px">
                           <input type="number" step="any" name="prioridade${controleCampo}" class="form-control" id="prioridade${controleCampo}"
                              aria-label="prioridade" />
                           <span class="input-group-text" id="basic-addon${controleCampo}">% a.a</span>
                        </div>
                        <button type="button" onclick="removerCampo(${controleCampo})" class="ms-1 btn btn-secondary btn-block">
                        -
                        </button>
                        </div>
                
                `
            );
    }

   function removerCampo(idCampo) {
      if (idCampo != 0){
         document.getElementById("formulario"+idCampo).remove();
      }
      else {
         document.getElementById("formulario").remove();
      }
   }
</script>